# Docker Monitoring Stack - Environment Variables
# Copy this file to .env: cp env.example .env

# Service Versions
GRAFANA_VERSION=12.0.0
PROMETHEUS_VERSION=v2.42.0
CADVISOR_VERSION=v0.46.0
NODE_EXPORTER_VERSION=v1.5.0
ALERTMANAGER_VERSION=v0.25.0
REDIS_VERSION=7
VECTOR_VERSION=0.50.0-distroless-libc
LOKI_VERSION=3.3.2
PROMTAIL_VERSION=3.3.2
VICTORIALOGS_VERSION=v1.24.0-victorialogs
VMSTORAGE_VERSION=v1.126.0-cluster
VMINSERT_VERSION=v1.126.0-cluster
VMSELECT_VERSION=v1.126.0-cluster
VMAGENT_VERSION=v1.126.0
VMAUTH_VERSION=v1.126.0
VMALERT_VERSION=v1.126.0
SQL_TO_LOGSQL_VERSION=v0.4.0
UNCOMPLICATED_ALERT_RECEIVER_VERSION=1.3.0

# Authentication
VMAUTH_USERNAME=admin
VMAUTH_PASSWORD=changeme

